body {

   padding: 0px;
}

.rw-wrapper {
   float: left;
   position: relative;
   margin: 0 auto 0 auto;
   font-family: 'Bree Serif';
   padding: 25px 35px;
}

.rw-sentence img {
   width: 75%;
   z-index: -1;
}

.rw-sentence {
   margin: 0;
   padding-left: 0;
   text-align: left;
   text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.rw-sentence span {
   font-family: 'Bree Serif';
   color: #444;
   font-size: 450%;
   font-weight: normal
}

.rw-words span {
   display: inline;
   text-indent: 32px;
   font-size: 270%;
}

.rw-words-1 span {
   position: absolute;
   opacity: 0;
   overflow: hidden;
   color: #6b969d;
   -webkit-animation: rotateWord 21s linear infinite 0s;
   -ms-animation: rotateWord 21s linear infinite 0s;
   animation: rotateWord 21s linear infinite 0s
}

.rw-words-1 span:nth-child(2) {
   -webkit-animation-delay: 1s;
   -ms-animation-delay: 1s;
   animation-delay: 1s;
   color: #6b889d;
   text-shadow: .1px .1px .1px #6b889d
}

.rw-words-1 span:nth-child(3) {
   -webkit-animation-delay: 6s;
   -ms-animation-delay: 6s;
   animation-delay: 6s;
   color: #6b739d;
   text-shadow: .1px .1px .1px #6b739d
}

.rw-words-1 span:nth-child(4) {
   -webkit-animation-delay: 10s;
   -ms-animation-delay: 10s;
   animation-delay: 10s;
   color: #7a6b9d;
   text-shadow: .1px .1px .1px #7a6b9d
}

.rw-words-1 span:nth-child(5) {
   -webkit-animation-delay: 13.5s;
   -ms-animation-delay: 13.5s;
   animation-delay: 13.5s;
   color: #9b6b9d;
   text-shadow: .1px .1px .1px #9b6b9d
}

.rw-words-1 span:nth-child(6) {
   -webkit-animation-delay: 17s;
   -ms-animation-delay: 17s;
   animation-delay: 17s;
   color: #9d6b86;
   text-shadow: .1px .1px .1px #9d6b86
}

#smallBlock {
   display: flex;
   margin: 0 10px 15px -10px;
   height: 52px;
   width: 95vw;
}

.mySample {
   position: fixed;
   bottom: 5px;
   width: 95vw;
}

tr{
   margin: 120px;
      font-family: 'Andika New Basic', sans-serif;
      letter-spacing: .1em;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}/* FlexCell: In a table if 2 cells in same row to adjust or make cell flex and other fixed,
      flex cell width:auto and fixed cell width: % or vw */
td:nth-child(1){
   width:50vw;
   padding: 0 0 0 20px;
   text-align: left;
}

td:nth-child(2) {
   font-size: 200%;
   display: inline-block;
   color: #1d1f2a;
   width: 50vw;
   text-align: right;
}
#myScreen {
   text-align: right;
}

@-webkit-keyframes rotateWord {
   0% {
      opacity: 0
   }

   2% {
      opacity: 0;
      -webkit-transform: translateY(-30px)
   }

   5% {
      opacity: 1;
      -webkit-transform: translateY(0px)
   }

   17% {
      opacity: 1;
      -webkit-transform: translateY(0px)
   }

   35% {
      opacity: 0;
      -webkit-transform: translateY(180px)
   }

   80% {
      opacity: .3
   }

   82% {
      opacity: 0
   }
}

@-ms-keyframes rotateWord {
   0% {
      opacity: 0
   }

   2% {
      opacity: 0;
      -ms-transform: translateY(-30px)
   }

   5% {
      opacity: 1;
      -ms-transform: translateY(0px)
   }

   17% {
      opacity: 1;
      -ms-transform: translateY(0px)
   }

   20% {
      opacity: 1;
      -ms-transform: translateY(100px)
   }

   35% {
      opacity: 0;
      -ms-transform: translateY(180px)
   }

   80% {
      opacity: .3
   }

   82% {
      opacity: 0
   }
}

@keyframes rotateWord {
   0% {
      opacity: .7 -webkit-transform: translateY(-50px);
      transform: translateY(-50px)
   }

   8% {
      opacity: .9;
      -webkit-transform: translateY(0px);
      transform: translateY(0px)
   }

   20% {
      opacity: 1;
      -webkit-transform: translateY(100px);
      transform: translateY(100px)
   }

   35% {
      opacity: 0;
      -webkit-transform: translateY(140px);
      transform: translateY(140px)
   }

   80% {
      opacity: .2
   }

   82% {
      opacity: 0.2 -webkit-transform: translateY(-50px);
      transform: translateY(-50px)
   }
}

@media screen and (max-width:768px) {
   .rw-sentence {
      font-size: 18px
   }
}

@media screen and (max-width:320px) {
   .rw-sentence {
      font-size: 9px
   }
}
